@model PlanAndTrack.Application.Models.TestRequest.DetailVm

@{
    ViewData["Title"] = "Detay";
}
<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ImportanceLevel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ImportanceLevel)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TestType)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TestType)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TimeRequired)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TimeRequired)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LeftTimeRequired)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LeftTimeRequired)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PreRequestTest)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PreRequestTest)
        </dd>
        <dt class="col-sm-3">

        </dt>
        <dd class="col-sm-9">
            @if (Model.HasFile)
            {
                @Html.ActionLink("Ekli Test Dokümanını İndir", "DownloadFile", new { id = Model.Id }, new { @class = "btn btn-outline-secondary" })
            }
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-md-12">
        <partial name="_BackToListButton" />
    </div>
</div>